<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kaavarekisteri</title>
        <!--twitter bootsrap ja jQuery -mahdollisuus-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        </head>
        
        <!-- responsiivinen bootstrap-->
        <body class="container">

        <form th:action="@{/}" method="POST">
            <!-- valintalista 1 -->
                <select name="var1">
                    <p th:each="index : ${controllerin_lahettama_lista_attribuutti}">
                        <option th:text="${index}"> th:text="${index}" </option>
                    </p>
                </select>
            
            <!-- valintalista 2 -->
                <select name="var2">
                    <p th:each="index : ${controllerin_lahettama_lista_attribuutti}">
                        <option th:text="${index}"> th:text="${index}" </option>
                    </p>
                </select>
            <button type="submit">Lähetä kaavarekisteriin</button>

        </form>

        </body>
