<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kaavarekisteri</title>
        <!--twitter bootsrap ja jQuery -mahdollisuus-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>

    <!-- responsiivinen bootstrap-->
    <body class="container">
        <form th:action="@{/}" method="POST">
            <!-- valintalista 1 -->
            <select name="var1">
                <p th:each="index : ${suunnittelualue}">
                    <option th:text="${index}"> th:text="${index}" </option>
                </p>
            </select>

            <!-- valintalista 1 -->


            <button type="submit">Laheta kaavarekisteriin</button>
        </form>
    </body>
</html>     


