<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kaavarekisteri</title>
        <!--twitter bootsrap http://getbootstrap.com/css/-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>

    <body class="container">

        <!-- hakukenttä -->
        Kaavatunnushaku (kantaan syötetty testimielessä tietoa kaavatunnuksilla 049110201,049110210 ja 049110515)
        <form th:action="@{/}" method="POST">
            <textarea name="haku" rows="1" cols="40">
             
            </textarea>
            <button type="submit">Etsi</button>
        </form>

        <!-- Kaavan tiedot -->
        <!-- String kaavakaavatunnus;
        String kaavakaavanimi;
        String kaavalisatieto;
        String kaavahankkeenkuvaus;
        String kaavakaavatyyppi;
        int kaavasuunnittelualue;-->
        <h2>Kaavan tiedot</h2>
        <table class="table table-striped">
            <tr>
                <td>Kaavatunnus</td>
                <td>Kaavanimi</td>
                <td>Lisätieto</td>
                <td>Hankkeen kuvaus</td>
                <td>Kaavatyyppi</td>
                <td>Suunnittelualue</td>
            </tr>
            <tr>
                <td><h5 th:text="${kaavakaavatunnus}">kaavatunnus</h5></td>
                <td><h5 th:text="${kaavakaavanimi}">kaavanimi</h5></td>
                <td><h5 th:text="${kaavalisatieto}">kaavalisatieto</h5></td>
                <td><h5 th:text="${kaavahankkeenkuvaus}">hankkeen kuvaus</h5></td>
                <td><h5 th:text="${kaavakaavatyyppi}">kaavatyyppi</h5></td>
                <td><h5 th:text="${kaavasuunnittelualue}">suunnittelualue</h5></td>
            </tr>
        </table>


        <h3>Muuta kaavan tietoja</h3>
        <!-- responsiivinen bootstrap-->

        <form th:action="@{/}" method="POST">
            Kaavatyyppivalinta
            <!-- valintalista 1 -->
            <select name="var2">
                <p th:each="index : ${kaavatyyppi}">
                    <option th:text="${index}"> th:text="${index}" </option>
                </p>
            </select>
            <!-- valintalista 1 -->
            Suunnittelualuevalinta
            <select name="var1">
                <p th:each="index : ${suunnittelualue}">
                    <option th:text="${index}"> th:text="${index}" </option>
                </p>
            </select>



            <button type="submit">Laheta kaavarekisteriin</button>
        </form>
    </body>
</html>     


